.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.expense-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
}

.expense-item_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border: 2px solid darkgray;
    background-color: rgb(85, 158, 134);
    margin-left: 10px;
}


.expense-item_title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: #139b31;
}

.expense-item_amount {
    border: 1px solid #add8e6;
    color: black;
    background-color: rgb(6, 129, 160);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 10px;
}